<h3 class="text-center">Blogs</h3>
<ol class="list-group">
  {{#each blogs as |blog|}}
  <li class="list-group-item list-group-item-action" aria-current="true">
    <a class="text-decoration-none text-reset" href="/blogs/{{id}}">
      <div class="card">
        <h4 class="card-header">{{title}}</h4>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{body}}</p>
            <footer class="blockquote-footer">{{user.username}} <cite title="Source Title">  on  {{created_at}}</cite></footer>
          </blockquote>
        </div>
      </div> 
    </a>
  </li>
  {{/each}}
</ol>
{{#unless blogs.length}}
<h5 class="text-center">So Much Empty...</h5>
<h6 class="text-center">Perhaps, you should be the first to sign up or log in and post a blog!</h6>
{{/unless}}