{{#if loggedIn}}
<form class="comment-form m-2">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <textarea class="col-9 mx-1" rows='2' name="comment-body" placeholder="Add a comment"></textarea>
      <button class="col-2 mx-1 btn btn-success" type='submit'>Add Comment!</button>
    </div>
  </div>
</form>
{{/if}}

<ol class="list-group">
  <li class="list-group-item list-group-item-action" aria-current="true">
    <div class="card">
      <h4 class="card-header">{{blog.title}}</h4>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{blog.body}}</p>
          <footer class="blockquote-footer">{{blog.user.username}} <cite title="Source Title">  on  {{blog.created_at}}</cite></footer>
        </blockquote>
      </div>
    </div> 
  </li>
</ol>
{{#if loggedIn}}
<ol>
  {{#each blog.comments as |comment|}}
  <li class="list-group-item list-group-item-action" aria-current="true">
    <div class="card">
      <h6 class="card-header">Comment ID: {{id}}</h6>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{comment_body}}</p>
          <footer class="blockquote-footer">{{user.username}} <cite title="Source Title">  on  {{created_at}}</cite></footer>
        </blockquote>
      </div>
    </div> 
  </li>
  {{/each}}
</ol>
<script src="/javascript/comment.js"></script>
{{/if}}